* {
  font-family: Helvetica, Arial, sans-serif;
}


body {
  padding: 60px;
  background-color: #21232a;
  color: white;
  font-size: 1.3rem;
  padding: 70px;
} 

input {
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}


button {
  font-size: 1.3rem;
  margin-right: 10px;
  padding: 10px;
}